@import "style.css";

table, caption, tr, td {
    border: 2px solid var(--table-color);
    border-collapse: collapse;
    padding: 2px;
    margin-left:auto;
    margin-right:auto;
}

@keyframes quote_hover_in {
    from {
        background-color: var(--background-color);
    }

    to {
        background-color: #9be2cd;
     }
}

@keyframes quote_hover_out {
    from {
        background-color: #9be2cd;
    }

    to {
        background-color: var(--background-color);
     }
}

.quote_entry {
    border: 2px solid var(--table-color);
    border-collapse: collapse;
    padding:1em;
    text-align: center;
    animation-name: quote_hover_out;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
.quote_entry:hover {
    animation-name: quote_hover_in;
    animation-duration:0.5s
}


.group_photo {
    width: 100%;
}

.content_left {
    float: left;
    width:48%;
}

.content_right {
    float: right;
    width:48%;
}

h1, h2, h3 {
    text-align:center;
    margin: 0;
}

section {
    padding: 2%;
}

figure {
    text-align: center;
}
