@import "style.css";

form {
  flex-direction: column;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}

input#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

label.darkmode-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4), inset 0px -1px 3px rgba(255, 255, 255, 0.4);
  background-color: var(--toggle-bg);
}

label.darkmode-label:after {
  position: absolute;
  content: "";
  left: var(--label-left);
  transform: var(--transformantion);
  background: linear-gradient(180deg, var(--gradient-bg1), var(--gradient-bg2));
  width: 36px;
  height: 36px;
  top: 2px;
  border-radius: 36px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

fieldset {
  border-color: lime;
  padding: 0;
}


label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.gender {
  font-weight: normal;
}

input[type="submit"] {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--button-hover-background-color);
}

input,
select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
