#main-content {
    position: relative;
    z-index: 2;
}

form {
    right: 0;
    position: absolute;
    top: 1.8em;
    transform: translateY(-50%);
    transition: width 1s;
    z-index: 5;
    width: 50px;
    height: 50px;
    background: var(--search-color);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--search-color);
    
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 42px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background-color: var(--search-color);
}

label {
    transition: all 1s;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #051b33;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 300px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #051b33;
    color: var(--search-color);
}

img {
    width: 20em;
}

@media (max-width: 850px) {
    img {
        width: 100%;
    }
}
    

table {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 90%;
    align-items: center;
}

table td {
    padding: 2em;
}

footer a {
    z-index: 1;
}