section h3,
section h2,
section h4 {
    margin-bottom: 0;
}

section p,
section ul {
    margin-top: 5px;

}

.background {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 10px;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* vertically centers the image */
    gap: 2rem;
    /* spacing between text and image */
    float: right;

}

.image {
    width: 300px;
    height: auto;
    display: block;
    background-color: #f9f9f9;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}