:root {
  --primary-color: lime;
  --secondary-color: lightgray;
  --text-color: black;
  --background-color: #f8f8f8;
  --button-color: white;
  --button-background-color: black;
  --button-hover-background-color: #333333;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 0;
}

nav {
  background-color: var(--secondary-color);
  padding: 10px;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: gray;
}
